* {
  box-sizing: border-box;
}

html {
  font-family: "Libre Franklin", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
}
.wrapper {
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  font-weight: bolder;
}
.row {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 20px;
}

.content {
    padding-left: 15px;
}
.content2 {
    padding-right: 15px;
}
img {
    width: 290px;
}